.accordion-container {
  color: white;
  
  margin: 0 auto;
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
  border-radius: 12px;
}

.accordion-item {
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  background-color: #f7f7f7;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  background-color: #e9e9e9;
}

.accordion-body {
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.accordion-body ul {
  list-style: none;
  padding-left: 0;
}

.accordion-body li {
  margin-bottom: 1rem;
}

.accordion-body li strong {
  color: #003366;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .accordion-container {
    padding: 1rem;
  }

  .accordion-header {
    font-size: 1rem;
  }
}
