.keynoteHeading{
    background-color: var(--color-bits);
    font-weight: 400;
    padding: 1vh 0;
    font-size: 1.5rem;
    margin: 4vh 0;
    text-align: center;
    color: white;
}
.keynoteSpeaker {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
}
.keynoteSpeaker .keynoteCard {
    padding: 1rem;
    margin: auto;
    margin-top:1rem;
    border: 1px solid black;
    width: 100%; /* Change from 300px to 100% for responsiveness */
    max-width: 300px; /* This will limit the width on larger screens */
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .keynoteSpeaker .keynoteCard p {
    text-align: center;
    word-wrap: break-word; /* Ensures that long words are wrapped */
    hyphens: auto; /* Adds hyphens to long words if necessary */
  }
  
  .keynoteSpeaker img {
    height: 16rem;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100%; /* Make the image responsive */
  }
  
  @media (max-width: 800px) {
    .keynoteSpeaker {
      flex-direction: column;
    }
    .keynoteSpeaker .keynoteCard {
      width: 90%; /* Reduce the width slightly to fit better on small screens */
    }
  }
  .tabs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.tabButton {
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    transition: all 0.3s ease;
}

.tabButton:hover {
    color:  var(--color-bits);
}

.tabButton.active {
    font-weight: bold;
    border-bottom: 2px solid  var(--color-bits);
    color:  var(--color-bits);
}
/* Wrapper */
.keynoteWrapper {
  width: 100%;
  margin-top: 20px;
  
}

/* Tabs Container */
.yearTabs {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* Tab Button */
.yearTabBtn {
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 16px;
  background: #d1d5db; /* gray */
  color: #000;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}

.yearTabBtn.active {
  background: #2563eb; /* blue */
  color: white;
}

/* Responsive Grid */
.keynoteSpeaker {
  display: grid;
  gap: 20px;
  margin-top: 20px;

  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 640px) {
  .keynoteSpeaker {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .keynoteSpeaker {
    grid-template-columns: repeat(4, 1fr);
  }
}
