.payPal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  color: white;
    gap: 2vh;
  padding: 2vh;
}



.payPal h1{
    font-size: 1.1rem;
    font-weight: 500;
}
.payPal p{
    font-size: 1rem;
    font-weight: 400;
}

/* button  */
 .submissionLinkhead{
    margin: 4vh 0;
}
 .submissionLinkhead a{
    color: white;
   border-radius: 0.7rem;
    background: linear-gradient(to left, var(--color-bg), var(--color-green1));
    padding: 2vh;
    font-family: var(--font-content);
    color: white;
    border: 1px solid var(--color-green1);

}
.submissionLinkhead a:hover{
    background: linear-gradient(to right, var(--color-bg), var(--color-green1));
}





/* adding media query  */
@media(max-width:900px)
{
    .payPal p{
    padding: 1rem;
    }
}