@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400;1,600;1,800&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,700;1,900&family=Rubik+Burned&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --navColor: rgb(57, 56, 129);
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  #myLinks{
    width: 100%;
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    /* background-color: inherit; */
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0;            /* Important for vertical align on mobile phones */
  }
  

  /* // when hover the block starting to show  */
.dropbtn:hover .dropdown-content {
   cursor: pointer;
    display: block;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    background-color: var(--color-bg2);
    display: none;
    position: absolute;
    padding: 1rem 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(23, 54, 111);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1vh ;
    background-color: var(--color-bg2);
    margin: 0.4rem 0 ;
font-family: 'Lato', sans-serif;


  }
    .dropdown-content a:hover {
    background-color: var(--color-bg1);
    color: #fff;
  }
  
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


/* Nav */
.main-nav{
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
    /* margin-top: 5vh; */
    background-color: #1a1a1a;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}
/* .main-nav.activee{
    background-color: var(--color-bg);
} */

.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}



.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
}


.menu-btn{
    cursor: pointer;
    position: absolute;
    right: 10px;
    z-index: 2;
    display: none;

}

.main-menu li {
    font-size: 1rem;
   
font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--navColor);
    padding: 0 10px;
    color: #fff;
    
}
.main-menu li a{
    /* color: var(--color-bg1); */
  color: #fff;
  font-size: 1rem;
  
}
.main-menu li a:active{
    color: pink;
}

.main-menu li a:focus{
    color:var(--color-green1);
}




/* adding media query  */
@media(max-width:800px){

    .menu-btn{
        display: block; 
    }
    .menu-btn:hover{
        opacity: 0.5;
    }

    .main-nav ul.right-menu{
        margin-right: 50px;
    }
     .main-nav ul.main-menu{
        display: block;
        position:fixed;
        top: 0;
        left: 0;
        z-index:90;
        /* background-color: #f2f2f2; */
        width: 50%;
        height: 100%;
        border-right: #ccc 0.01px solid;
        padding: 30px;
        transform: translateX(-1000px);
        transition: transform 0.5s ease-in-out;
      
    } 
       
    .main-nav ul.main-menu li{
        padding: 10px ;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child {
            border-bottom: none;
    }
     .main-nav ul.main-menu.show{
        transform: translate(-20px);
        background-color: var(--color-bg1);
        
     }

   
}

