
.tecCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    
    padding: 4vh;
    
    border-radius: 0.5rem 2rem;
    color: white;
   
}
.techCard h3{
font-size: 1.2rem;
font-weight: 500;
}
.tecPara{
    
  padding: 4vh 2vh;
  border-radius: 0.5em;
  border: 1px solid var(--color-black);
  color: black;
  box-shadow: var(--color-green) 0px 1px 2px 0px, var(--color-green1) 0px 1px 3px 1px;
  border-radius: 0.5rem 2rem;
  transition: all 0.5s ease-in-out;
}
.tecPara:hover{
    transform: translateY(-12px);
}

.tecPara h3{
    font-size: 1rem;
    font-weight: 800;
}




/* adding media query  */


@media(max-width:1000px)
{
    .tecCard{
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:650px)
{

    .tecCard{
        grid-template-columns: 1fr ;
    }
    
   
}